@import url('https://fonts.googleapis.com/css2?family=Inter&family=Zen+Kaku+Gothic+New&display=swap');

* {
    box-sizing: border-box;
}


body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #FFFFFF;
    position: fixed;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

header a {
    color: #fcbcbc;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}


main {
    padding-top: 60px;
}

stream-board {
    display: flex;
}


#intro {
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
}

#intro h1 {
    margin-bottom: 10vh;
}

#news {
    background-color: #FFFFFF;
    padding: 20px;
}

#news h2 {
    color: #666666;
}

#news div {
    border: 2px solid #fcbcbc;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#comments {
    list-style-type: none;
    padding: 0;
}


footer {
    color: #A1A3A6;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #666666;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #666666;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}

h3 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #666666;
}

h4 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #666666;
}

h5 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
}

#stream-board {
    border: 2px solid #fcbcbc;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

#stream,
#board {
    flex: 1;
    box-sizing: border-box;
}

.timetable-container {
    height: 400px;
    overflow-y: auto;
    flex-direction: column;
    border: 2px solid #fcbcbc;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10vh;
    scrollbar-width: none;
}

.timetable-row {
    flex: 1;
}

.timetable-cell {
    flex: 1;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: 20vw;
    margin-left: 32%;
}

.red {
    background-color: #ff9bac;
}

.green {
    background-color: #b6ea84;
}

.blue {
    background-color: #3dd0db;
}

.orange {
    background-color: #ffb86d;
}

.ml4 {
    position: relative;
}

.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: -10vh;
    right: 0;
    opacity: 0;
    max-width: 25vw;
}

iframe {
    width: 50vw;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {

    body {
        background-image: url('phone-back.webp');
        background-size: contain;
        background-repeat: repeat-y;
        background-size:100%; 
    }

    header {
        background-color: #FFFFFF;
        position: fixed;
        display: flex;
        justify-content: flex-end;
    }

    header a {
        color: #36BAC4;
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #intro {
        text-align: center;
        color: #FFFFFF;
    }

    #intro h1 {
        margin-bottom: 0vh;
    }

    header a {
        color: #36BAC4;
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #stream-board {
        border: 2px solid #36BAC4;
        padding: 20px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
    }

    #news div {
        border: 2px solid #36BAC4;
        padding: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .timetable-container {
        height: 400px;
        overflow-y: auto;
        flex-direction: column;
        border: 2px solid #36BAC4;
        padding: 20px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 10vh;
        scrollbar-width: none;
    }


    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #666666;
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #666666;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #FFFFFF;
    }

    h3 {
        font-family: 'Zen Kaku Gothic New', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #666666;
    }

    h4 {
        font-family: 'Zen Kaku Gothic New', sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #666666;
    }

    h5 {
        font-family: 'Zen Kaku Gothic New', sans-serif;
        font-weight: bold;
        font-size: 8px;
        color: #1a1a1a;
    }

    .ml4 {
        display: none;
    }

    .timetable-cell {
        flex: 1;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        width: 50vw;
    }

    .substitute-text {
        display: block;
    }

    .timetable-container {
        height: 400px;
        overflow-y: auto;
        flex-direction: column;
        border: 2px solid #fcbcbc;
        padding: 20px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 10vh;
        scrollbar-width: none;
    }

    iframe {
        width: 50vw;
    }

    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
        height: 40vh;
        text-align: center;
        margin: auto;
    }

}



@media screen and (min-width: 769px) {

    body {
        background-image: url('pc-back.webp');
        background-repeat: repeat-y;
        background-size: contain;
    }

    .pc {
        display: block !important;
        height: 40vh;
        text-align: center;
        margin: auto;
    }

    .sp {
        display: none !important;
    }

    .substitute-text {
        display: none;
    }

}
